:root {
    --color-primary: #11181C;
    --color-primary-light: #376769;
    --color-primary-light2: #325E54;
    --color-white: #ECF0F1;
}

.section__projetos {
    background-color: var(--color-primary);
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    overflow: hidden;
    z-index: 2;
}
.text__projetos {
    padding: 5rem;
    transition: transform .5s, opacity .5s;
}
.projetos__paragraph {
    width: 35rem;
    margin: 1rem 0;
    line-height: 1.6;
    letter-spacing: 1.5px;
}
.arrow{
    color: var(--color-white);
    width: 15rem;
    margin-top: 15rem;
    animation: scrollBall 2s .1ms ease-in-out infinite;
}

.container__boxes {
    display: flex;
    gap: 3rem;
    overflow: visible;
    transition: transform .5s, opacity .5s;
}

.box {
    width: 25rem;
    height: 45rem;
    background-color: var(--color-primary-light);
    border-radius:  0px 4rem 0px 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    position: relative;
}

.box--middle{ 
    margin-top: 10rem;
    background-color: var(--color-primary-light2);
}

.projeto__box {
    position: absolute;
    top: 0;
    left: 2%;
    width: 100%;
    height: 20rem;
    background-color: var(--color-white);
    border-radius:  0px 4rem 0px 4rem;
    margin: 1rem 1rem;
    box-shadow: -1.2rem 1rem 1rem rgba(0, 0, 0, .4);
}

.paragraph--box {
    padding: 1rem 5rem;
    width: 100%;
    letter-spacing: 1.3px;
    line-height: normal;
    color: var(--color-white);
    font-size: 1.3rem;
    text-align: center;
}

.projetos__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    grid-row: 2;
}

#projeto__um {
    background-image: url(../../img/web1.jpeg);
    background-size: cover;
}

#projeto__dois {
    background-image: url(../../img/web2.jpeg);
    background-size: cover;
}

#projeto__tres {
    background-image: url(../../img/web3.jpeg);
    background-size: cover;
}
