/* Media query até 1024px*/
@media screen and (max-width: 64em) {
    .container__nav {
        gap: 2rem;
    }
    .hero__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin: 0;
    }

    .heading-primary-bottom {
        margin: 0;
    }
    .paragraph {
        margin: auto;
        text-align: center;
    }

    .section__projetos {
        flex-direction: column;

    }
    .text__projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section__projetos{
        height: 180rem;
    }
    .container__boxes {
        flex-direction: column;
        gap: 15rem;
    }
    .box--middle {
        margin: 0;
        display: none;
    }

    .section__processo {
        height: 150rem;
        flex-direction: column;
        gap: 0;
    }
    
    .section__contact {
        align-items: center;
        justify-content: center;
    }
    .contact__illustration {
        display: none;
    }

    .form__container {
        align-items: center;
        justify-content: center;
    }
    .section__contact .heading-primary {
        font-size: 2.2rem;
    }
    .section__sobre .heading-primary {
        font-size: 3rem;
    }

    .section__sobre .paragraph {
        font-size: 1.6rem;
        width: 65rem;
    }
    .footer {
        margin-top: -28rem;
    }
}
/* Media query até 844px landscape */
@media screen and (max-width: 62.5em) and (orientation: landscape) {
    html {
        font-size: 30%;
    }
}
/* Media query até 768px  portrait*/
@media screen and (max-width: 48em ) and (orientation: portrait) {
    .container__nav {
        justify-content: flex-start;
    }
    .nav {
        display: none;
    }
    .hamburguer-menu {
        display: block;
        position: fixed;
    }
    .hamburguer-menu__item {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .container__social {
        gap: 2rem;
    }
}
/* Media query 720px landscape */
@media screen and (max-width: 45.31em) and (orientation: landscape) {
    html {
        font-size: 30%;
    }

    .container__nav {
        justify-content: flex-start;
    }
    .nav {
        display: none;
    }
    .hamburguer-menu {
        display: block;
        position: fixed;
    }
    .hamburguer-menu__item {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

}

/* Media query até 425px portrait */
@media screen and (max-width: 26.75em) {
    html {
        font-size: 37.5%; /* 6px */
    }
    .section__hero {
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    .hero__text {
        height: 75vh;
    }
    .hero__text .heading__secondary{
       font-size: 2.5rem;
    }
    .section__contact .heading-primary {
        /* font-size: 1.4rem; */
        width: 80%;
        text-align: center;
    }

    .section__sobre .heading-primary {
        font-size: 2rem;
        display: block;
        width: 50rem;
        text-align: center;
    }
    .section__sobre {
        width: 100%;
        overflow: hidden;
    }
    .section__sobre .paragraph { 
        width: 50rem;
        letter-spacing: 1.1px;
    }
    .form {
        padding: 5rem;
    }
    .footer{
        margin-top: -50rem;
        overflow: hidden;
    }
}

