
@media screen and (min-width: 1024px) and (max-width: 1280px) { 
    html {
        font-size: 62.5%;
    }
    .section__hero {
        height: 100%;
    }
    .container__nav {
        justify-content: flex-start;
    }
    .nav {
        display: none;
    }
    .hamburguer-menu {
        display: block;
        position: fixed;
    }
    .hamburguer-menu__item {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .container__social {
        gap: 2rem;
        margin-left: -8rem;
    }
    .hero__text {
        align-items: center;
        justify-content: center;
    }
    .hero__text .container__description {
        margin-left: 0;
    }
    .container__scroll {
        display: none;
    }
    .container__description {
        text-align: center;
        margin-top: -5rem
    }
    .heading-primary-bottom {
        margin: 0;
    }
    .paragraph {
        margin: auto;
        text-align: center;
    }

    .section__projetos {
        flex-direction: column;

    }
    .text__projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section__projetos{
        height: 180rem;
    }
    .container__boxes {
        flex-direction: column;
        gap: 15rem;
    }
    .box--middle {
        margin: 0;
        display: none;
    }

    .section__processo {
        height: 150rem;
        flex-direction: column;
        gap: 0;
    }
    
    .section__contact {
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .contact__illustration {
        display: none;
    }

    .form__container {
        align-items: center;
        justify-content: center;
    }
    .section__contact .heading-primary {
        font-size: 1.6rem;
    }
    .section__sobre .heading-primary {
        font-size: 2rem;
    }

    .section__sobre .paragraph {
        font-size: 1.4rem;
        width: 65rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) { 
    html {
        font-size: 62.5%;
    }
    .container__nav {
        justify-content: flex-start;
    }
    .nav {
        display: none;
    }
    .hamburguer-menu {
        display: block;
        position: fixed;
    }
    .hamburguer-menu__item {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    .section__hero {
        height: 100%;
    }

    .container__social {
        gap: 2rem;
        margin-left: -8rem;
    }
    .hero__text {
        align-items: center;
        justify-content: center;
        gap: 10rem;
    }
    .hero__text .container__description {
        margin-left: 0;
        padding-bottom: 5rem;
    }
    .container__scroll {
        display: none;
    }
    .container__description {
        text-align: center;
        margin-top: -5rem
    }
    .heading-primary-bottom {
        margin: 0;
    }
    .paragraph {
        margin: auto;
        text-align: center;
    }

    .section__projetos {
        flex-direction: column;

    }
    .text__projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section__projetos{
        height: 180rem;
    }
    .container__boxes {
        flex-direction: column;
        gap: 15rem;
    }
    .box--middle {
        margin: 0;
        display: none;
    }

    .section__processo {
        height: 150rem;
        flex-direction: column;
        gap: 0;
    }
    
    .section__contact {
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .contact__illustration {
        display: none;
    }

    .form__container {
        align-items: center;
        justify-content: center;
    }
    .section__contact .heading-primary {
        font-size: 1.6rem;
    }
    .section__sobre .heading-primary {
        font-size: 2rem;
    }

    .section__sobre .paragraph {
        font-size: 1.4rem;
        width: 65rem;
    }

}

@media screen and (min-width: 480px) and (max-width: 768px) { 
    html {
        font-size: 38%; 
    }
    .section__hero {
        height: 100%;
    }
    .container__nav {
        justify-content: flex-start;
    }
    .nav {
        display: none;
    }
    .hamburguer-menu {
        display: block;
        position: fixed;
    }
    .hamburguer-menu__item {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .container__social {
        gap: 2rem;
        margin-left: -8rem;
    }
    .hero__text {
        align-items: center;
        justify-content: center;
        gap: 10rem;
    }
    .hero__text .container__description {
        margin-left: 0;
        padding-bottom: 5rem;
    }
    .container__scroll {
        display: none;
    }
    .container__description {
        text-align: center;
        margin-top: -5rem
    }
    .heading-primary-bottom {
        margin: 0;
    }
    .paragraph {
        margin: auto;
        text-align: center;
    }

    .section__projetos {
        flex-direction: column;

    }
    .text__projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section__projetos{
        height: 180rem;
    }
    .container__boxes {
        flex-direction: column;
        gap: 15rem;
    }
    .box--middle {
        margin: 0;
        display: none;
    }

    .section__processo {
        height: 150rem;
        flex-direction: column;
        gap: 0;
    }
    
    .section__contact {
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .contact__illustration {
        display: none;
    }

    .form__container {
        align-items: center;
        justify-content: center;
    }
    .section__contact .heading-primary {
        font-size: 1.6rem;
    }
    .section__sobre .heading-primary {
        font-size: 2rem;
    }

    .section__sobre .paragraph {
        font-size: 1.4rem;
        width: 55rem;
        letter-spacing: 1px;
    }

    .footer___text .heading-primary {
        font-size: 1.8rem;
    }


}

@media screen and (max-width: 480px) {
    html {
        font-size: 37.5%; 
    }
    .section__hero {
        height: 100%;
    }
    .container__nav {
        justify-content: flex-start;
    }
    .nav {
        display: none;
    }
    .hamburguer-menu {
        display: block;
        position: fixed;
    }
    .hamburguer-menu__item {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .container__social {
        gap: 2rem;
        margin-left: -8rem;
    }
    .hero__text {
        align-items: center;
        justify-content: center;
        gap: 10rem;
    }
    .hero__text .container__description {
        margin-left: 0;
    }
    .container__scroll {
        display: none;
    }
    .container__description {
        text-align: center;
        margin-top: -5rem
    }
    .heading-primary-bottom {
        margin: 0;
    }
    .paragraph {
        margin: auto;
        text-align: center;
    }

    .section__projetos {
        flex-direction: column;

    }
    .text__projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section__projetos{
        height: 180rem;
    }
    .container__boxes {
        flex-direction: column;
        gap: 15rem;
    }
    .box--middle {
        margin: 0;
        display: none;
    }

    .section__processo {
        height: 150rem;
        flex-direction: column;
        gap: 0;
    }
    
    .section__contact {
        align-items: center;
        justify-content: center;
    }
    .contact__illustration {
        display: none;
    }

    .form__container {
        align-items: center;
        justify-content: center;
    }
    .section__contact .heading-primary {
        font-size: 1.6rem;
    }
    .section__sobre .heading-primary {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    .section__sobre .paragraph {
        font-size: 1.4rem;
        line-height: normal;
        letter-spacing: 1px;
        width: 90%;
    }

    .footer___text .heading-primary {
        font-size: 1.8rem;
    }

}

@media screen and (min-width: 480px) and (max-width: 1000px) and (orientation:landscape) {  
    html {
        font-size: 38%;
    }
    .section__hero {
        height: 100%;
    }
    .section__contact {
        height: 100%;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 100%;
    }
}